<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/main.js"></script>
    <title>Portfolio</title>
</head>
<body>
    <!-- <h2 id="h1">About me</h2>
    <p th:text="${name}"></p>
    <p th:text="${surename}"></p>
    <p th:text="${age}"></p>
    <p th:text="${group}"></p> -->

    <h3 th:text="'Sveiks, tevi sauc - ' + ${param.name}"></h3>
    <p th:text="'Tavs vecums ir: ' + ${param.age}"></p>
</body>
</html>