<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>

    <style>
        h1 {
            color: aqua;
            background-color: black;
        }

        #po1 {
            color: bisque;
        }

        #po2 {
            color: chocolate;
        }

        button {
            color:aqua;
            border: 5px rgb(24, 20, 17);
            border-style: double;
            border-color: blue;
            box-shadow: inset;
        }
    </style>
</head>
<body>
    <p id="po1">Kooo</p>
    <h1>My heading</h1>
    <p><i>My name is Daniil (in Italic)</i></p>
    <p>I know Python, Go and Java</p>
    <p id="po2"><b>Bold text</b></p>
    <button>Press me</button>

    <ol>
        <li>one</li>
        <li>two</li>
        <li>three</li>
    </ol>

</body>
</html>